body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #222222;
  color: white;
}

body canvas {
  border: 1px solid #000000;
}

#hld-points {
  position: absolute;
  float: left;
}

.holder {
  width: 960px;
  margin:0 auto;
}