body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #222222;
  color: white;
}

body canvas {
  border: 1px solid #000000;
}

.holder {
  width: 960px;
  margin:0 auto;
  display: block;
}

.title {
  font-size: xx-large;
  font-weight: bold;
}

.text-left {
  text-align: left;
  float: left;
}

.text-right {
  text-align: right;
  float: right;
}